@model KaraboAssignment.ViewModels.UserDetailsViewModel
@using KaraboAssignment.Enums

@{
    ViewData["Title"] = "Welcome Page";

    var isAuthenticated = User?.Identity?.IsAuthenticated ?? false;
    var isFarmer = isAuthenticated && User.IsInRole(UserRole.Farmers.GetDisplayName());
    var isEmployee = isAuthenticated && User.IsInRole(UserRole.Employees.GetDisplayName());
}

<div class="container mt-5">

    <p>@Model</p>

    @if (!User.Identity.IsAuthenticated)
    {
        <div class="alert alert-warning text-center">
            You are not logged in. Please <a href="/Account/Login">log in</a>.
        </div>
    }
    else if (User.Identity.IsAuthenticated)
    {
        <div class="text-center mb-4">
            <h2>Welcome</h2>
            <p class="lead">You are logged in as <strong></strong></p>
        </div>

        <div class="row justify-content-center">
            @if (User.IsInRole(UserRole.Employees.GetDisplayName()))
            {
                <div class="col-md-4">
                    <a asp-controller="Dashboard" asp-action="AddFarmer" class="btn btn-primary w-100 mb-3">
                        👤 Add Farmer Profile
                    </a>
                </div>
               
                <div class="col-md-4">
                    <a asp-controller="Dashboard" asp-action="FilterProducts" class="btn btn-warning w-100 mb-3">
                        📦 Filter Products
                    </a>
                </div>
            }

            @if (User.IsInRole(UserRole.Farmers.GetDisplayName()))
            {
              
                <div class="col-md-4">
                    <a asp-controller="Dashboard" asp-action="AddProducts" class="btn btn-success w-100 mb-3">
                        ➕ Add Product
                    </a>
                </div>
                <div class="col-md-4">
                    <a asp-controller="Dashboard" asp-action="ViewProducts" class="btn btn-success w-100 mb-3">
                        ➕ View Product
                    </a>
                </div>
          
            }
        </div>
    }
    else
    {
        <div class="alert alert-danger">
            Something went wrong. No user data was provided.
        </div>
    }

</div>
