@model KaraboAssignment.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}
<link href="../assets/css/style-admin.css" rel="stylesheet">
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


<div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                    <div class="d-flex justify-content-center py-4">
                        <a class="logo d-flex align-items-center w-auto">
                            <img src="../assets/img/LogoIcon.png" alt="">
                            <span class="d-none d-lg-block" style="color:#61B834;">Agri-Energy </span><span style="color:dodgerblue; margin-left:7px"> Connect</span>
                        </a>
                    </div><!-- End Logo -->
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="pt-4 pb-2">
                                <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>

                                <p class="text-center small">Enter your username & password to login</p>
                            </div>
                            <form class="row g-3 needs-validation" method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="col-12">
                                    <label for="yourUsername" class="form-label">Username</label>
                                    <div class="input-group has-validation">
                                        <input type="email" asp-for="Email" name="email" class="form-control" id="yourUsername" required>
                                        <div class="invalid-feedback">Please enter your username.</div>
                                    </div>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <label for="yourPassword" class="form-label">Password</label>
                                    <div style="display:flex">
                                        <input type="password" asp-for="Password" name="password" class="form-control" id="yourPassword" required>
                                        <span toggle="#yourPassword" class="fa fa-eye field-icon toggle-password" style="margin-left: -30px;margin-top: 10px;"></span>
                                    </div>
                                    <div class="invalid-feedback">Please enter your password!</div>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                              
                                <div class="col-12">
                                    <button class="btn w-100 login-btn" type="submit">Login</button>
                                </div>
                            
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="../assets/js/jquery.js"></script>

<script>

    localStorage['currentPage'] = 'Login';

    $(".toggle-password").click(function () {
        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });

</script>